@use "../presets" as *;

/*--------------------------footer------------------------------*/
.footer {
    background-color: $color-primary;
    color: $color-white;
    padding-top: 44px;
    padding-bottom: 50px;

    &__title {
        font-size: 1.3125rem;
        font-weight: 500;
        margin-bottom: 3px;
        letter-spacing: 0.01em;
    }

    &__description {
        font-size: 0.8125rem;
    }
}
