@use '../presets' as *;

/*--------------------------navbar------------------------------*/
.navbar {
    margin-bottom: 141px;
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 27px;
        margin-left: -0.75em;

        @media (width < 605px) {
          justify-content: center;
          column-gap: 20px;
        }
    }
    
    &__link {
        display: block;
        padding: 0.5em 0.75em;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;

        &--active {
            font-weight: 500;
            color: $color-primary;
        }
    }
}