$font-size: 16px;
$font-family: 'Roboto', sans-serif;

$letter-spacing: 0.1em;

$line-height: 1.64;
$line-height-sm: 1.4;

$container-primary: 1110px;
$container-secondary: 540px;

$gap: 20px;
$gap-sm: calc($gap * 0.5);
$gap-lg: calc($gap * 1.5); 
$gap-xl: calc($gap * 2); 
